<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<!-- Index Page Footer (No Login) -->
	<footer class="page-footer grey darken-3" th:fragment="nologin">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text" th:text="#{footer.h5.title}"></h5>
					<p class="grey-text text-lighten-4" th:text="#{footer.text.addr}"></p>
					<p class="grey-text text-lighten-4" th:text="#{footer.text.tel}"></p>
					<p class="grey-text text-lighten-4" th:text="#{footer.text.email}"></p>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container" th:text="#{footer.copyright}"></div>
		</div>
	</footer>
</body>
</html>