<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="webTempl/user_layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title th:text="#{index.title}"></title>
</head>
<body>
	<div layout:fragment="content">
		<ul class="collapsible popout" data-collapsible="expandable">
			<li th:ecah="list : emptyRooms">
				<div class="collapsible-header" th:inline="text">
					<span class="left"><i class="material-icons">home</i>&nbsp;[[${list.hName}]] - [[${list.hCity}]], [[#{list.hState}]]&nbsp;[[${list.Zipcode}]]</span>
					<span class="rigth"></span>
				</div>
				<div class="collapsible-body"><p>test</p></div>
			</li>
		</ul>
	</div>
</body>
</html>