<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="mailTempl/mail_layout">
<head>
</head>
<body>

	<tbody class="grey lighten-5 grey-text text-darken-3"
		layout:fragment="content">
		<tr>
			<td th:inline="text">
				<h5>[[#{mail.greeting(${roomie.user})}]]</h5>
				<h6>[[#{welcome.to.faveroomies}]]</h6>
				<h6 class="center">[[#{mail.dont.miss.out}]]</h6>
				<p class="center">
					[[#{mail.confirm.message0}]]<br />
					[[#{mail.confirm.message1(${roomie.email})}]]<br /> <b>[[#{mail.confirm.message2(${code})}]]</b><br />
					<b>[[#{mail.confirm.message3}]]</b>[[#{mail.confirm.message4}]]

				</p>
			</td>
		</tr>
		<tr>
			<td class="center"><a
				th:href="@{http://faveroomies.com(code=${code})}"
				th:text="#{mail.confirm.button}" class="btn red darken-1">confrim</a></td>
		</tr>
	</tbody>

</body>
</html>