<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!--Import CSS-->
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css" />
	
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.1.1.min.js"></script> 
	<!-- Compiled and minified JavaScript -->
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</head>
<body>
	<!-- Header -->
	<header th:fragment="header">
		<nav>
			<div class="nav-wrapper white">
				<a href="http://faveroomies.com" style="padding-left: 10px;" th:text="#{nav.logo.text}"
					class="brand-logo grey-text text-darken-3"></a>
			</div>
		</nav>
	</header>
	<div class="container">
		<div layout:fragment="content"></div>
	</div>
	<!-- Footer -->
	<footer class="page-footer grey darken-3" th:fragment="footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text" th:text="#{footer.h5.title}"></h5>
					<p class="grey-text text-lighten-4" th:text="#{footer.text.addr}"></p>
					<p class="grey-text text-lighten-4" th:text="#{footer.text.tel}"></p>
					<p class="grey-text text-lighten-4" th:text="#{footer.text.email}"></p>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container" th:text="#{footer.copyright}"></div>
		</div>
	</footer>
</body>
</html>