@CHARSET "UTF-8";

/* Footer */
footer.page-footer .footer-copyright {
	background-color: rgba(51, 51, 51, 0.15);
}

.inline-block {
	display: inline-block;
}

@media all and (min-width:768px) {
	nav .brand-logo {
		padding-left: 55px;
	}
	nav .right {
		padding-right: 55px;
	}
	nav .side-nav li {
		padding: 0;
	}
}